<!DOCTYPE HTML>
	<head>
		<title>Andy.com</title>	
		<link rel="stylesheet" href="style.css" />
	</head>
<body>

<div id="content">
	<div class="header">
			<h1>Andy<span>.com</span></h1>
		<p>I'm interesting</p>
	</div>
	<ul class="nav">
		<li><a href="index.html">Home</a></li>
		<li><a href="about.html">About</a></li>
		<li><a href="#">Projects</a></li>
		<li><a href="#">Price Thing</a></li>
	</ul>

	<div class="stuff">
		<h2>Here's a bunch of reasons as to why I'm such a cunt</h2>
		<img src="Neat1.jpg" width=150px height=150px />
		<p>I think i'm a pretty neat guy</p>
		<p>That was a ruse. I'm actually a cunt. Shh</p>
		<p>I think you're a cunt too. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
	</div>

	<div class="footer">
		<p>"You can put anything in this area"&trade;(&copy; 2016-2018). "There is no limit to what you can do here."&trade;</p>
	</div>

</div>

</body>
</html>

