{% extends "base.html" %}
{% block content %}
	
	{% if adminForm %}
	<div class="admin-page">
		
		<form method="post" enctype="multipart/form-data" class="form-admin" action="/adminAction">
			{{ adminForm.csrf_token }}
			{{ adminForm.template_change_box.label }} {{ adminForm.template_change_box(class_="form-control") }}
			{{ adminForm.choice_list.label }} {{ adminForm.choice_list(class_="form-control") }}
			<br /><br />
			<input type="submit" value="Save" class="submitButton">
		</form>


	</div>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				{% if message != "success" %} 
					<span class="flash success">{{ message }}</span>
				{% endif %}
			{% endfor %}
		{% endif %}
	{% endwith %}
	{% endif %}


{% endblock %}
