<!DOCTYPE HTML>
<html>
	<head>
		<title>{{ title }}</title>	
		<link rel="stylesheet" href="{{ url_for('theme_static', filename='stylesheets/default.css') }}" />
	</head>
<body>

<div id="content">
	<div class="header">
	  <h1>{{ header }}</h1>
	  <p>{{ subtitle }}</p>
	</div>
	<ul class="nav">
        {% for item in nav %}
			{% if item.type == 'file' %}
			<li><a href="{{ item.path }}" class='active'>{{ item.name }}</a></li>
			{% else %}
			<li class="dropdown">	
				<a href="#" > {{item.name}} </a>
				<div class="dropdown-content">
					<a href="{{item.path}}">{{ item.name }}</a>
				</div>
			</li>
			{% endif %}
        {% endfor %}


	</ul>

	<div class="stuff">
    {{ content }}
	</div>
</div>

</body>
</html>
