<!DOCTYPE HTML>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('theme_static', filename='stylesheets/default.css') }}"/>
</head>
<body>

<div id="content">
    <div class="header">
        <h1>{{ header }}</h1>
        <p>{{ subtitle }}</p>
    </div>
    <div id="navbar">
        <ul>
            {% for item in nav %}
                <li><a href="{{ item.path }}">{{ item.name }}</a>
                {% if item.subs %}
                    <ul>
                        {% for sub_item in item.subs %}
                            <li><a href="{{ sub_item.path }}">{{ sub_item.name }}</a></li>
                        {% endfor %}
                    </ul>
                {%- endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="stuff">
        {{ content }}
    </div>
</div>

</body>
</html>
