<!DOCTYPE HTML>
<html>
	<head>
		<title>{{ title }}</title>	
		<link rel="stylesheet" href="{{ url_for('theme_static', filename='stylesheets/default.css') }}" />
	</head>
<body>

<div id="content">
	<div class="header">
	  <h1>{{ header }}</h1>
	  <p>{{ subtitle }}</p>
	</div>
	<nav id="primary_nav_wrap">
		<ul>
			{% for item in nav %}
				{% if item.type == 'sub-folder' %}
					<li><a href="#">{{ item.name }}</a>
						<ul>
							{% for sub_item in item.contents %}
							<li><a href="#">{{ sub_item.name }}</li>
							{% endfor %}
						</ul>
					</li>
				{% elif item.type == 'file' %}
				<li><a href="{{ item.path }}">{{ item.name }}</a></li>
				{% endif %}
			{% endfor %}
		</ul>
	</nav>
	<div class="stuff">
    {{ content }}
	</div>
</div>

</body>
</html>
