{% extends "base.html" %}
{% block content %}

	<p>Hi, I'm a guy living in Canada. I mostly just keep backups of all my projects here. You can see them <a href="http://www.nick-b.ca/projects"> here</a>

	<p>Here are some of the better projects I have: </p>
	<ul>
		<li><a href="http://nick-b.ca/projects/PHP/4diggit">Imageboard (Reddit Style)</a></li>
		<li><a href="http://nick-b.ca/projects/Javascript/Finished/ZLT/index.html">ZLT Game</a></li>
		<li><a href="http://nick-b.ca/projects/Javascript/Finished/FlappyTheFish/">Flappy The Fish</a></li>
		<li><a href="http://nick-b.ca/projects/Javascript/Finished/ImgurRouletteNew/index.html">Imgur Roulette (NSFW)</a></li>
	</ul>

	<p>Contact:</p>
	<ul>
		<li><a href="https://github.com/NickBrisebois">Github</a></li>
		<li><a href="http://reddit.com/u/NotSteve_">Reddit</a></li>
	</ul>

	
	

{% endblock %}
