<!DOCTYPE HTML>
<html>
	<head>
		<title>{{ title }}</title>	
		<link rel="stylesheet" href="./static/stylesheets/{{current_css}}" />
	</head>
<body>

<div id="content">
	<div class="header">
	  <h1>{{ header }}<span>.ca</span></h1>
	  <p>{{ subtitle }}</p>
	</div>
	<ul class="nav">
        <!-- replace with for loop for each menu option -->
		<li><a href="index.html" class='active'>Home</a></li>
		<li><a href="projects">All Projects</a></li>

	</ul>

	<div class="stuff">
	{% block content %} {% endblock %}
	</div>
</div>

</body>
</html>
